<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Gestion des avancemement</h4>
          </div>
          <div class="card-body">
            <fusioncharts
              width={{width}}
              height={{height}}
              type={{type}}
              dataFormat={{dataFormat}}
               >
            </fusioncharts>

            <mat-divider></mat-divider>

            <br>
            <div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

