<mat-toolbar>
  <span>{{caisseService.form.controls['id'].value?"Modifier l'opération":"Nouvelle opération"}}</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>
<form [formGroup]="caisseService.form" (submit)="onSubmit()">

  <mat-stepper [linear]="isLinear" #stepper>
    <mat-step>
      <ng-template matStepLabel>INFORMATIONS SUR L'OPERATION</ng-template>
      <input type="hidden" formControlName="id">
      <mat-form-field class="example-full-width">
        <input matInput [matDatepicker]="picker" placeholder="Choisir la date" formControlName="date" id="date"
               readonly (click)="picker.open()">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Designation</mat-label>
        <input matInput placeholder="Designation" formControlName="libelle">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Montant</mat-label>
        <input matInput placeholder="Montant" formControlName="montant">
      </mat-form-field>
      <div>
        <button mat-button matStepperNext type="button">Suivant</button>
      </div>
    </mat-step>
    <mat-step  label="INFORMATIONS COMPLEMENTAIRES">
      <mat-form-field appearance="fill">
        <mat-label>Employe</mat-label>
        <input matInput placeholder="Employe">
      </mat-form-field>
      <section class="example-section">
        <mat-checkbox class="example-margin" formControlName='actived'>Soumettre</mat-checkbox>
      </section>
      <div>
        <button mat-button matStepperPrevious type="button">Retour</button>
        <button mat-button type="submit" [disabled]="caisseService.form.invalid">Valider</button>
      </div>
    </mat-step>
  </mat-stepper>
</form>
