<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Gestion des états</h4>
          </div>
          <div class="card-body">

            <div class="example-button-row">
              <button mat-button color="accent" (click)="retrait()">Etat de la caisse</button>
              <button mat-button color="accent" (click)="stock()">Etat du stocks de l'entreprise</button>
              <button mat-button color="accent" (click)="openDialog()">Etat d'un projet</button>

            </div>

            <mat-divider></mat-divider>
            <br>
            <div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

